.App {
    min-height: 100vh; 
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  
  .App .body {
    display: flex;
    flex-direction: row;
  }

  .App .content {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
  }
  
  .body .sidebar {
    order: -1;
    max-width: 20em;
    flex-grow: 0;    /* Defined the ability to grow */
    flex-shrink: 0;  /* Defines the ability to shrink */
    flex-basis: 20em;/* Default value of the element before distribuing the remaing space */
  }
  
  
  .App .header,
  .App .footer {
    height: 4em;
  }