.selection, .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.breadcrumbs{
    height: 3em;
}
.selection-item{
    display: flex;
    flex-direction: row;
    padding: 5px;
    line-height: 1.5em;
}

.selection-item > .check {
    padding: 5px;
}

.selection-item > .name {
    line-height: 2em;
}