@import '../fonts/fontiran.css';

body{
    font-family: IRANSans;
    font-size: 1em;
    font-weight: 400;
}

  .App:after,
  .App .header:after,
  .App .body .content:after,
  .App .body .sidebar:after,
  .App .footer:after {
    content: '\00a0';
  }